			<!-- start: Content -->
			<div id="content" class="col-sm-11">
			
			
			<div class="row">
				
				<div class="col-sm-12">
					
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-bar-chart-o"></i><span class="break"></span>xCharts</h2>
							<div class="box-icon">
								<a href="charts-xcharts.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="charts-xcharts.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="charts-xcharts.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="box-content">
							<figure class="demo" id="chart" style="height: 400px"></figure>
						</div>
					</div>
				
				</div><!--/col-->
			
			</div><!--/row-->
			
			<div class="row">
				
				<div class="col-sm-4">
					
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-bar-chart-o"></i><span class="break"></span>Your Basic Bar Chart</h2>
						</div>
						<div class="box-content">
							<figure class="demo" id="example1" style="height: 300px"></figure>
						</div>
					</div>
				
				</div><!--/col-->
				
				<div class="col-sm-4">
					
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-bar-chart-o"></i><span class="break"></span>Multi-Series Bar Chart</h2>
						</div>
						<div class="box-content">
							<figure class="demo" id="example2" style="height: 300px"></figure>
						</div>
					</div>
				
				</div><!--/col-->
				
				<div class="col-sm-4">
					
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-bar-chart-o"></i><span class="break"></span>Time-Series Line</h2>
						</div>
						<div class="box-content">
							<figure class="demo" id="example3" style="height: 300px"></figure>
						</div>
					</div>
				
				</div><!--/col-->
			
			</div><!--/row-->
			
			<div class="row">
				
				<div class="col-sm-6">
					
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-bar-chart-o"></i><span class="break"></span>Interacting With Points</h2>
						</div>
						<div class="box-content">
							<figure class="demo" id="example4" style="height: 300px"></figure>
						</div>
					</div>
				
				</div><!--/col-->
				
				<div class="col-sm-6">
					
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-bar-chart-o"></i><span class="break"></span>Example Custom Vis Type: Error Bars</h2>
						</div>
						<div class="box-content">
							<figure class="demo" id="exampleVis" style="height: 300px"></figure>
						</div>
					</div>
				
				</div><!--/col-->
			
			</div><!--/row-->
		
					
			</div>
			<!-- end: Content -->