			<!-- start: Content -->
			<div id="content" class="col-sm-11">
			
						
			<div class="row">
				
				<div class="col-sm-6">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-bar-chart-o"></i><span class="break"></span>Browsers</h2>
						</div>
						<div class="box-content">
							<div class="browserStat big">
								<img src="assets/img/browser-chrome-big.png" alt="Chrome">
								<span>34%</span>
							</div>
							<div class="browserStat big">
								<img src="assets/img/browser-firefox-big.png" alt="Firefox">
								<span>34%</span>
							</div>
							<div class="browserStat">
								<img src="assets/img/browser-ie.png" alt="Internet Explorer">
								<span>34%</span>
							</div>
							<div class="browserStat">
								<img src="assets/img/browser-safari.png" alt="Safari">
								<span>34%</span>
							</div>
							<div class="browserStat">
								<img src="assets/img/browser-opera.png" alt="Opera">
								<span>34%</span>
							</div>	
						</div>
					</div>
				</div><!--/col-->
				
				<div class="col-sm-6">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-bar-chart-o"></i><span class="break"></span>Weekly Stat</h2>
						</div>
						<div class="box-content">
							<div class="sparkLineStats">

		                        <ul class="unstyled">

		                            <li>
										<div class="sparkLineStats3"></div> 
		                                Pageviews: 
		                                <span class="number">781</span>
		                            </li>
		                            <li>
										<div class="sparkLineStats4"></div>
		                                Pages / Visit: 
		                                <span class="number">2,19</span>
		                            </li>
		                            <li>
										<div class="sparkLineStats5"></div>
		                                Avg. Visit Duration: 
		                                <span class="number">00:02:58</span>
		                            </li>
		                            <li>
										<div class="sparkLineStats6"></div>
		                                Bounce Rate: <span class="number">59,83%</span>
		                            </li>
		                            <li>
										<div class="sparkLineStats7"></div>
		                                % New Visits: 
		                                <span class="number">70,79%</span>
		                            </li>
		                            <li>
										<div class="sparkLineStats8"></div>
		                                % Returning Visitor: 
		                                <span class="number">29,21%</span>
		                            </li>

		                        </ul>

		                    </div><!-- End .sparkStats -->
						</div>
					</div>
				</div><!--/col-->
			
			</div><!--/row-->
			
			<div class="row hideInIE8">	
				<div class="col-lg-12">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-tasks"></i><span class="break"></span>Circle Stats</h2>
						</div>
						<div class="box-content">

							<div class="circleStats">

								<div class="col-md-2 col-sm-4">
			                    	<div class="circleStatsItem orange">
										<i class="fa fa-thumbs-up"></i>
										<span class="plus">+</span>
										<span class="percent">%</span>
			                        	<input type="text" value="58" class="circleChart" />
			                    	</div>
								</div>
								<div class="col-md-2 col-sm-4">	
			                    	<div class="circleStatsItem blue">
			                        	<i class="fa fa-bullhorn"></i>
										<span class="plus">+</span>
										<span class="percent">%</span>
			                        	<input type="text" value="8" class="circleChart" />
			                    	</div>
								</div>
								<div class="col-md-2 col-sm-4">	
									<div class="circleStatsItem yellow">
			                        	<i class="fa fa-user"></i>
										<span class="plus">+</span>
										<span class="percent">%</span>
			                        	<input type="text" value="12" class="circleChart" />
			                    	</div>
								</div>
								<div class="col-md-2 col-sm-4">	
									<div class="circleStatsItem pink">
			                        	<i class="fa fa-globe"></i>
										<span class="plus">+</span>
										<span class="percent">%</span>
			                        	<input type="text" value="23" class="circleChart" />
			                    	</div>
								</div>
								<div class="col-md-2 col-sm-4">
			                    	<div class="circleStatsItem green">
			                        	<i class="fa fa-bar-chart-o"></i>
										<span class="plus">+</span>
										<span class="percent">%</span>
			                        	<input type="text" value="34" class="circleChart" />
			                    	</div>
								</div>
								<div class="col-md-2 col-sm-4">	
									<div class="circleStatsItem lightOrange">
			                        	<i class="fa fa-shopping-cart"></i>
										<span class="plus">+</span>
										<span class="percent">%</span>
			                        	<input type="text" value="42" class="circleChart" />
			                    	</div>
								</div>

			                </div>
							<div class="clearfix"></div>
						</div>	
					</div>
				</div><!--/col-->
				
			</div><!--/row-->
			
			<div class="row">
				
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-list"></i><span class="break"></span>Just Gage</h2>
							<div class="box-icon">
								<a href="charts-others.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="charts-others.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="charts-others.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="box-content">
							<div style="width:40%; display: inline-block">
								<div id="g1" class="sz1"></div>
								<div id="g1a" class="sz1"></div>
							</div>
							<div style="width:40%; float: right; display: inline-block">
								<div id="g2" class="sz0"></div>
								<div id="g2a" class="sz0"></div>
								<div id="g2b" class="sz0"></div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div><!--/col-->
				
				<div class="col-lg-6">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-list"></i><span class="break"></span>Easy Pie Charts</h2>
							<div class="box-icon">
								<a href="charts-others.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="charts-others.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="charts-others.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="box-content">
							<div class="row">
								<div class="chart col-sm-3">
									<div class="percentage" data-percent="55"><span>55</span>%</div>
									<div style="text-align:center">New visits</div>
								</div>
								<div class="chart col-sm-3">
					                <div class="percentage" data-percent="46"><span>46</span>%</div>
					                <div style="text-align:center">Bounce rate</div>
					            </div>            
								<div class="chart col-sm-3">
					                <div class="percentage" data-percent="92"><span>92</span>%</div>
					                <div style="text-align:center">Server load</div>
					            </div>
					            <div class="chart col-sm-3">
					                <div class="percentage" data-percent="84" data-bar-color="#2980b9"><span>752</span>MB</div>
					                <div style="text-align:center">Used RAM</div>
					            </div>
				            </div>
							<div class="clearfix"></div>
							<div class="row">
								<div class="chart col-sm-3">
				                    <div class="percentage-light" data-percent="55"><span>55</span>%</div>
				                    <div style="text-align:center">New visits</div>
				                </div>
				                <div class="chart col-sm-3">
				                    <div class="percentage-light" data-percent="46"><span>46</span>%</div>
				                    <div style="text-align:center">Bounce rate</div>
				                </div>
				                <div class="chart col-sm-3">
				                    <div class="percentage-light" data-percent="92"><span>92</span>%</div>
				                    <div style="text-align:center">Server load</div>
				                </div>
				                <div class="chart col-sm-3">
				                    <div class="percentage-light" data-percent="84"><span>752</span>MB</div>
				                    <div style="text-align:center">Used RAM</div>
				                </div>
				            </div>
							<div class="clearfix"></div>
							<hr>
							<p style="text-align:center"><a href="charts-others.html#" class="btn btn-warning button updateEasyPieChart">Update pie charts</a></p>
							
						</div>
					</div>
				</div><!--/col-->
			
			</div><!--/row-->	

		
					
			</div>
			<!-- end: Content -->