			<!-- start: Content -->
			<div id="content" class="col-sm-11">
				<div class="row">
					
					<div class="stats-date col-md-3">
						<div>Monthly Statistics</div>
						<div class="range">02/10/2012 - 02/11/2012</div>
					</div><!--/col-->
					
					<div class="stats col-md-9">
						
						<div class="stat">
							<div class="left">
								<div class="number green">1.324.996</div>
								<div class="title"><span class="color green"></span> Visits</div>
							</div>
							<div class="right">	
								<div class="arrow">
									<img src="assets/img/uparrow.png">
								</div>
								<div class="percent">+13%</div>
							</div>
						</div>
						
						<div class="stat">
							<div class="left">
								<div class="number yellow">12.894.765</div>
								<div class="title"><span class="color yellow"></span> Pageviews</div>
							</div>
							<div class="right">	
								<div class="arrow">
									<img src="assets/img/uparrow.png">
								</div>
								<div class="percent">+17%</div>
							</div>
						</div>
						
						<div class="stat">
							<div class="left">
								<div class="number blue">432.980</div>
								<div class="title"><span class="color blue"></span>Visitors</div>
							</div>
							<div class="right">	
								<div class="arrow">
									<img src="assets/img/downarrow.png">
								</div>
								<div class="percent">-33%</div>
							</div>
						</div>
						
						<div class="stat">
							<div class="left">
								<div class="number red">11.324</div>
								<div class="title"><span class="color red"></span>New Visitors</div>
							</div>
							<div class="right">	
								<div class="arrow">
									<img src="assets/img/uparrow.png">
								</div>
								<div class="percent">+3%</div>
							</div>
						</div>
							
					</div><!--/col-->
				
				</div><!--/row-->	

				<div class="row">
					
					<div class="col-xs-12 overflow:hidden">
					
						<div id="stats-chart2" style="height:300px;" ></div>
					
					</div><!--/col-->	
				
				</div><!--/row-->
				
				<hr>
				
				<div class="row">
					
					<div class="widget col-md-5 col-sm-12">
						
						<h2><i class="glyphicons globe"></i> Demographics</h2>
						
						<hr>
						
						<div class="content">
							
							<div class="verticalChart">
								
								<div class="singleBar">
								
									<div class="bar">
									
										<div class="value">
											<span>37%</span>
										</div>
									
									</div>
									
									<div class="title">US</div>
								
								</div>
								
								<div class="singleBar">
								
									<div class="bar">
									
										<div class="value">
											<span>16%</span>
										</div>
									
									</div>
									
									<div class="title">PL</div>
								
								</div>
								
								<div class="singleBar">
								
									<div class="bar">
									
										<div class="value">
											<span>12%</span>
										</div>
									
									</div>
									
									<div class="title">GB</div>
								
								</div>
								
								<div class="singleBar">
								
									<div class="bar">
									
										<div class="value">
											<span>9%</span>
										</div>
									
									</div>
									
									<div class="title">DE</div>
								
								</div>
								
								<div class="singleBar">
								
									<div class="bar">
									
										<div class="value">
											<span>7%</span>
										</div>
									
									</div>
									
									<div class="title">NL</div>
								
								</div>
								
								<div class="singleBar">
								
									<div class="bar">
									
										<div class="value">
											<span>6%</span>
										</div>
									
									</div>
									
									<div class="title">CA</div>
								
								</div>
								
								<div class="singleBar">
								
									<div class="bar">
									
										<div class="value">
											<span>5%</span>
										</div>
									
									</div>
									
									<div class="title">FI</div>
								
								</div>
								
								<div class="singleBar">
								
									<div class="bar">
									
										<div class="value">
											<span>4%</span>
										</div>
									
									</div>
									
									<div class="title">RU</div>
								
								</div>
								
								<div class="singleBar">
								
									<div class="bar">
									
										<div class="value">
											<span>3%</span>
										</div>
									
									</div>
									
									<div class="title">AU</div>
								
								</div>
								
								<div class="singleBar">
								
									<div class="bar">
									
										<div class="value">
											<span>1%</span>
										</div>
									
									</div>
									
									<div class="title">N/A</div>
								
								</div>	
								
							</div>
						
						</div>
						
					</div><!--/col-->
					
					<div class="widget col-md-3 col-sm-6">
						
						<h2><span class="glyphicons pie_chart"><i></i></span> Browsers</h2>
						
						<hr>
						
						<div class="content">
							
							<div class="browserStat big">
								<img src="assets/img/browser-chrome-big.png" alt="Chrome">
								<span>34%</span>
							</div>
							<div class="browserStat big">
								<img src="assets/img/browser-firefox-big.png" alt="Firefox">
								<span>34%</span>
							</div>
							<div class="browserStat">
								<img src="assets/img/browser-ie.png" alt="Internet Explorer">
								<span>34%</span>
							</div>
							<div class="browserStat">
								<img src="assets/img/browser-safari.png" alt="Safari">
								<span>34%</span>
							</div>
							<div class="browserStat">
								<img src="assets/img/browser-opera.png" alt="Opera">
								<span>34%</span>
							</div>	
									
							
						</div>
					</div><!--/col-->
					
					<div class="widget col-md-4 col-sm-6">
						<h2><span class="glyphicons charts"><i></i></span> Weekly Stat</h2>
						
						<hr>
						
						<div class="content">
							<div class="sparkLineStats">

		                        <ul class="unstyled">
		                            
		                            <li>
										<div class="sparkLineStats3"></div> 
		                                Pageviews: 
		                                <span class="number">781</span>
		                            </li>
		                            <li>
										<div class="sparkLineStats4"></div>
		                                Pages / Visit: 
		                                <span class="number">2,19</span>
		                            </li>
		                            <li>
										<div class="sparkLineStats5"></div>
		                                Avg. Visit Duration: 
		                                <span class="number">00:02:58</span>
		                            </li>
		                            <li>
										<div class="sparkLineStats6"></div>
		                                Bounce Rate: <span class="number">59,83%</span>
		                            </li>
		                            <li>
										<div class="sparkLineStats7"></div>
		                                % New Visits: 
		                                <span class="number">70,79%</span>
		                            </li>
		                            <li>
										<div class="sparkLineStats8"></div>
		                                % Returning Visitor: 
		                                <span class="number">29,21%</span>
		                            </li>

		                        </ul>
		
		                    </div><!-- End .sparkStats -->
						</div>
					</div><!--/col-->
				
				</div><!--/row-->
				
				<hr>
				
				<div class="row">
					
					<div class="widget col-sm-6 overflow:hidden">
						<h2><span class="social facebook"><i></i></span>Facebook Fans</h2>
						<hr>
						<div class="content">
							<div id="facebookChart" style="height:300px;" ></div>
						</div>
					</div><!--/col-->
					
					<div class="widget col-sm-6 overflow:hidden">
						<h2><span class="social twitter"><i></i></span>Twitter Followers</h2>
						<hr>
						<div class="content">
							<div id="twitterChart" style="height:300px;" ></div>
						</div>
					</div><!--/col-->
				</div><!--/row-->
			</div>
			<!-- end: Content -->
			<!-- inline scripts related to this page -->
			<script>
	/* ---------- Main Chart ---------- */
	if($("#stats-chart2").length) {	
		var pageviews = [[1, 5+randNum()], [2, 10+randNum()], [3, 15+randNum()], [4, 20+randNum()],[5, 25+randNum()],[6, 30+randNum()],[7, 35+randNum()],[8, 40+randNum()],[9, 45+randNum()],[10, 50+randNum()],[11, 55+randNum()],[12, 60+randNum()],[13, 65+randNum()],[14, 70+randNum()],[15, 75+randNum()],[16, 80+randNum()],[17, 85+randNum()],[18, 90+randNum()],[19, 85+randNum()],[20, 80+randNum()],[21, 75+randNum()],[22, 80+randNum()],[23, 75+randNum()],[24, 70+randNum()],[25, 65+randNum()],[26, 75+randNum()],[27,80+randNum()],[28, 85+randNum()],[29, 90+randNum()], [30, 95+randNum()]];
		var visits = [[1, randNum2()-10], [2, randNum2()-10], [3, randNum2()-10], [4, randNum2()],[5, randNum2()],[6, 4+randNum2()],[7, 5+randNum2()],[8, 6+randNum2()],[9, 6+randNum2()],[10, 8+randNum2()],[11, 9+randNum2()],[12, 10+randNum2()],[13,11+randNum2()],[14, 12+randNum2()],[15, 13+randNum2()],[16, 14+randNum2()],[17, 15+randNum2()],[18, 15+randNum2()],[19, 16+randNum2()],[20, 17+randNum2()],[21, 18+randNum2()],[22, 19+randNum2()],[23, 20+randNum2()],[24, 21+randNum2()],[25, 14+randNum2()],[26, 24+randNum2()],[27,25+randNum2()],[28, 26+randNum2()],[29, 27+randNum2()], [30, 31+randNum2()]];
		var visitors = [[1, 5+randNum3()], [2, 10+randNum3()], [3, 15+randNum3()], [4, 20+randNum3()],[5, 25+randNum3()],[6, 30+randNum3()],[7, 35+randNum3()],[8, 40+randNum3()],[9, 45+randNum3()],[10, 50+randNum3()],[11, 55+randNum3()],[12, 60+randNum3()],[13, 65+randNum3()],[14, 70+randNum3()],[15, 75+randNum3()],[16, 80+randNum3()],[17, 85+randNum3()],[18, 90+randNum3()],[19, 85+randNum3()],[20, 80+randNum3()],[21, 75+randNum3()],[22, 80+randNum3()],[23, 75+randNum3()],[24, 70+randNum3()],[25, 65+randNum3()],[26, 75+randNum3()],[27,80+randNum3()],[28, 85+randNum3()],[29, 90+randNum3()], [30, 95+randNum3()]];
		var newVisitors = [[1, randNum4()-10], [2, randNum4()-10], [3, randNum4()-10], [4, randNum4()],[5, randNum4()],[6, 4+randNum4()],[7, 5+randNum4()],[8, 6+randNum4()],[9, 6+randNum4()],[10, 8+randNum4()],[11, 9+randNum4()],[12, 10+randNum4()],[13,11+randNum4()],[14, 12+randNum4()],[15, 13+randNum4()],[16, 14+randNum4()],[17, 15+randNum4()],[18, 15+randNum4()],[19, 16+randNum4()],[20, 17+randNum4()],[21, 18+randNum4()],[22, 19+randNum4()],[23, 20+randNum4()],[24, 21+randNum4()],[25, 14+randNum4()],[26, 24+randNum4()],[27,25+randNum4()],[28, 26+randNum4()],[29, 27+randNum4()], [30, 31+randNum4()]];

		var plot = $.plot($("#stats-chart2"),
			   [ { data: visits, label: "Visits"},
				 { data: pageviews, label: "Pageviews"},
				 { data: visitors, label: "Visitors" }, 
				 { data: newVisitors, label: "New Visitors"} ], {
				   series: {
					   lines: { show: true,
								lineWidth: 2
							 },
					   points: { show: true, 
								 lineWidth: 2 
							 },
					   shadowSize: 0
				   },
				   grid: { hoverable: true, 
						   clickable: true, 
						   tickColor: "#f9f9f9",
						   borderWidth: 0
						 },
				 legend: {
						    show: false
						},	
				   colors: ["#bdea74", "#eae874", "#2FABE9", "#FA5833"],
					xaxis: {ticks:15, tickDecimals: 0},
					yaxis: {ticks:5, tickDecimals: 0},
				 });

		function showTooltip(x, y, contents) {
			$('<div id="tooltip">' + contents + '</div>').css( {
				position: 'absolute',
				display: 'none',
				top: y + 5,
				left: x + 5,
				border: '1px solid #fdd',
				padding: '2px',
				'background-color': '#dfeffc',
				opacity: 0.80
			}).appendTo("body").fadeIn(200);
		}

		var previousPoint = null;
		$("#stats-chart2").bind("plothover", function (event, pos, item) {
			$("#x").text(pos.x.toFixed(2));
			$("#y").text(pos.y.toFixed(2));

				if (item) {
					if (previousPoint != item.dataIndex) {
						previousPoint = item.dataIndex;

						$("#tooltip").remove();
						var x = item.datapoint[0].toFixed(2),
							y = item.datapoint[1].toFixed(2);

						showTooltip(item.pageX, item.pageY,
									item.series.label + " of " + x + " = " + y);
					}
				}
				else {
					$("#tooltip").remove();
					previousPoint = null;
				}
		});
	
	}	

	/* ---------- Facebook Chart ---------- */
	if($("#facebookChart").length) {	
		var likes = [[1, 5+randNumFB()], [2, 10+randNumFB()], [3, 15+randNumFB()], [4, 20+randNumFB()],[5, 25+randNumFB()],[6, 30+randNumFB()],[7, 35+randNumFB()],[8, 40+randNumFB()],[9, 45+randNumFB()],[10, 50+randNumFB()],[11, 55+randNumFB()],[12, 60+randNumFB()],[13, 65+randNumFB()],[14, 70+randNumFB()],[15, 75+randNumFB()],[16, 80+randNumFB()],[17, 85+randNumFB()],[18, 90+randNumFB()],[19, 85+randNumFB()],[20, 80+randNumFB()],[21, 75+randNumFB()],[22, 80+randNumFB()],[23, 75+randNumFB()],[24, 70+randNumFB()],[25, 65+randNumFB()],[26, 75+randNumFB()],[27,80+randNumFB()],[28, 85+randNumFB()],[29, 90+randNumFB()], [30, 95+randNumFB()]];

		var plot = $.plot($("#facebookChart"),
			   [ { data: likes, label: "Fans"} ], {
				   series: {
					   lines: { show: true,
								lineWidth: 2,
								fill: true, fillColor: { colors: [ { opacity: 0.5 }, { opacity: 0.2 } ] }
							 },
					   points: { show: true, 
								 lineWidth: 2 
							 },
					   shadowSize: 0
				   },
				   grid: { hoverable: true, 
						   clickable: true, 
						   tickColor: "#f9f9f9",
						   borderWidth: 0
						 },
				   colors: ["#3B5998"],
					xaxis: {ticks:6, tickDecimals: 0},
					yaxis: {ticks:3, tickDecimals: 0},
				 });

		function showTooltip(x, y, contents) {
			$('<div id="tooltip">' + contents + '</div>').css( {
				position: 'absolute',
				display: 'none',
				top: y + 5,
				left: x + 5,
				border: '1px solid #fdd',
				padding: '2px',
				'background-color': '#dfeffc',
				opacity: 0.80
			}).appendTo("body").fadeIn(200);
		}

		var previousPoint = null;
		$("#facebookChart").bind("plothover", function (event, pos, item) {
			$("#x").text(pos.x.toFixed(2));
			$("#y").text(pos.y.toFixed(2));

				if (item) {
					if (previousPoint != item.dataIndex) {
						previousPoint = item.dataIndex;

						$("#tooltip").remove();
						var x = item.datapoint[0].toFixed(2),
							y = item.datapoint[1].toFixed(2);

						showTooltip(item.pageX, item.pageY,
									item.series.label + " of " + x + " = " + y);
					}
				}
				else {
					$("#tooltip").remove();
					previousPoint = null;
				}
		});
	
	}
	
	/* ---------- Twitter Chart ---------- */
	if($("#twitterChart").length) {	
		var followers = [[1, 5+randNumTW()], [2, 10+randNumTW()], [3, 15+randNumTW()], [4, 20+randNumTW()],[5, 25+randNumTW()],[6, 30+randNumTW()],[7, 35+randNumTW()],[8, 40+randNumTW()],[9, 45+randNumTW()],[10, 50+randNumTW()],[11, 55+randNumTW()],[12, 60+randNumTW()],[13, 65+randNumTW()],[14, 70+randNumTW()],[15, 75+randNumTW()],[16, 80+randNumTW()],[17, 85+randNumTW()],[18, 90+randNumTW()],[19, 85+randNumTW()],[20, 80+randNumTW()],[21, 75+randNumTW()],[22, 80+randNumTW()],[23, 75+randNumTW()],[24, 70+randNumTW()],[25, 65+randNumTW()],[26, 75+randNumTW()],[27,80+randNumTW()],[28, 85+randNumTW()],[29, 90+randNumTW()], [30, 95+randNumTW()]];

		var plot = $.plot($("#twitterChart"),
			   [ { data: followers, label: "Followers"} ], {
				   series: {
					   lines: { show: true,
								lineWidth: 2,
								fill: true, fillColor: { colors: [ { opacity: 0.5 }, { opacity: 0.2 } ] }
							 },
					   points: { show: true, 
								 lineWidth: 2 
							 },
					   shadowSize: 0
				   },
				   grid: { hoverable: true, 
						   clickable: true, 
						   tickColor: "#f9f9f9",
						   borderWidth: 0
						 },
				   colors: ["#1BB2E9"],
					xaxis: {ticks:6, tickDecimals: 0},
					yaxis: {ticks:3, tickDecimals: 0},
				 });

		function showTooltip(x, y, contents) {
			$('<div id="tooltip">' + contents + '</div>').css( {
				position: 'absolute',
				display: 'none',
				top: y + 5,
				left: x + 5,
				border: '1px solid #fdd',
				padding: '2px',
				'background-color': '#dfeffc',
				opacity: 0.80
			}).appendTo("body").fadeIn(200);
		}

		var previousPoint = null;
		$("#twitterChart").bind("plothover", function (event, pos, item) {
			$("#x").text(pos.x.toFixed(2));
			$("#y").text(pos.y.toFixed(2));

				if (item) {
					if (previousPoint != item.dataIndex) {
						previousPoint = item.dataIndex;

						$("#tooltip").remove();
						var x = item.datapoint[0].toFixed(2),
							y = item.datapoint[1].toFixed(2);

						showTooltip(item.pageX, item.pageY,
									item.series.label + " of " + x + " = " + y);
					}
				}
				else {
					$("#tooltip").remove();
					previousPoint = null;
				}
		});
	
	}

			</script>