			<div id="widgets-area" class="col-sm-2">
				<ul class="nav tab-menu nav-tabs" id="myTab">
					<li class="active"><a href="#/charts"><i class="fa fa-bar-chart-o"></i></a></li>
					<li><a href="#/users"><i class="fa fa-group"></i></a></li>
					<li><a href="#/messages"><i class="fa fa-envelope"></i></a></li>
					<li><a id="close-widgets-area" href="#/"><i class="fa fa-sign-in"></i></a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane active" id="charts">
				
						<div class="bar-stat">
							<span class="title">Account balance</span>
							<span class="value">$19 999,99</span>
							<span class="chart green">7,3,2,6,6,3,9,0,1,4</span>
						</div>

						<hr>

						<div class="bar-stat">
							<span class="title">Clients</span>
							<span class="value">1278</span>
							<span class="chart yellow">8,2,5,4,7,4,7,2,5,9</span>
						</div>

						<hr>

						<div class="bar-stat">
							<span class="title">Orders</span>
							<span class="value">5876</span>
							<span class="chart blue">2,4,6,8,3,5,9,3,2,2</span>
						</div>

						<hr>

						<div class="bar-stat">
							<span class="title">Messages</span>
							<span class="value">673</span>
							<span class="chart red">0,3,3,8,3,3,2,7,8,4</span>
						</div>
						
						<hr>
					
						<div id="cpu-usage"></div>
					
						<ul class="progress-bars">
						
							<li>
								<span class="title">Free Memory</span>
								<span class="percent"></span>
								<div class="taskProgress progressSlim progressGreen">80</div>
							</li>
							
							<li>
								<span class="title">Free HDD Drive</span>
								<span class="percent"></span>
								<div class="taskProgress progressSlim progressYellow">20</div>
							</li>
							
							<li>
								<span class="title">Free SSD Drive</span>
								<span class="percent"></span>
								<div class="taskProgress progressSlim progressBlue">57</div>
							</li>
							
							<li>
								<span class="title">Transfer</span>
								<span class="percent"></span>
								<div class="taskProgress progressSlim progressRed">45</div>
							</li>	
						
						</ul>	

					</div>
					<div class="tab-pane" id="users">
					
					<ul class="users-list">
		            	<li>
		                    <a href="#/">
								<span class="status active"></span>
								<span class="avatar"><img class="img-circle" src="assets/img/avatar.jpg" alt="Avatar"></span>
								<span class="name">Łukasz Holeczek</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="#/">
								<span class="status busy"></span>
								<span class="avatar"><img class="img-circle" src="assets/img/avatar2.jpg" alt="Avatar"></span>
								<span class="name">Megan Abott</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="#/">
								<span class="status disable"></span>
								<span class="avatar"><img class="img-circle" src="assets/img/avatar3.jpg" alt="Avatar"></span>
								<span class="name">Kate Ross</span>
		                    </a>
		                </li>
						<li>
		                    <a href="#/">
								<span class="status active"></span>
								<span class="avatar"><img class="img-circle" src="assets/img/avatar4.jpg" alt="Avatar"></span>
								<span class="name">Julie Blank</span>
		                    </a>
		                </li>
		                <li>
		                    <a href="#/">
								<span class="status"></span>
								<span class="avatar"><img class="img-circle" src="assets/img/avatar5.jpg" alt="Avatar"></span>
								<span class="name">Jane Sanders</span>
		                    </a>
		                </li>
						<li>
		            		<a href="#/">View all users</a>
						</li>	
					</ul>

					</div>
					<div class="tab-pane" id="messages">
					
						<ul class="messages-list">
		          <li>
								<a href="#/">
								<div class="avatar"><img class="img-circle" src="assets/img/avatar.jpg" alt="Avatar"></div>
								<span class="name">Łukasz Holeczek</span>
								<span class="date">25/6/2013</span>
								<span class="title">Custom Bootstrap design for new client</span>
								</a>
		           </li>
		           <li>
								<a href="#/">
								<div class="avatar"><img class="img-circle" src="assets/img/avatar2.jpg" alt="Avatar"></div>
								<span class="name">Megan Abott</span>
								<span class="date">25/6/2013</span>
								<span class="title">Custom Bootstrap design for new client</span>
								</a>
		           </li>
		           <li>
								<a href="#/">
								<div class="avatar"><img class="img-circle" src="assets/img/avatar3.jpg" alt="Avatar"></div>
								<span class="name">Kate Ross</span>
								<span class="date">25/6/2013</span>
								<span class="title">Custom Bootstrap design for new client</span>
								</a>
		          </li>
							<li>
								<a href="#/">
								<div class="avatar"><img class="img-circle" src="assets/img/avatar4.jpg" alt="Avatar"></div>
								<span class="name">Julie Blank</span>
								<span class="date">25/6/2013</span>
								<span class="title">Custom Bootstrap design for new client</span>
								</a>
							</li>
							<li>
								<a href="#/">
								<div class="avatar"><img class="img-circle" src="assets/img/avatar5.jpg" alt="Avatar"></div>
								<span class="name">Jane Sanders</span>
								<span class="date">25/6/2013</span>
								<span class="title">Custom Bootstrap design for new client</span>
								</a>
							</li>
							<li>
							<a href="#/">View all messages</a>
							</li>	
						</ul>

					</div>
				</div>		
			</div>