
			<!-- start: Content -->
			<div id="content" class="col-sm-11">
			
						
			<div class="row">
				
				<div class="col-md-8 col-sm-12">
					
					<div class="row">
						
						<div class="col-sm-6">
							<div class="box">
								<div class="box-header">
									<h2><i class="fa fa-list"></i><span class="break"></span>Weekly Stat</h2>
									<div class="box-icon">
										<a href="widgets.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
										<a href="widgets.html#" class="btn-close"><i class="fa fa-times"></i></a>
									</div>
								</div>
								<div class="box-content">
									<ul class="dashboard-list">
										<li>
											<a href="widgets.html#">
												<i class="fa fa-arrow-up green"></i>                               
												<span class="green">92</span>
												New Comments                                    
											</a>
										</li>
									  <li>
										<a href="widgets.html#">
										  <i class="fa fa-arrow-down red"></i>
										  <span class="red">15</span>
										  New Registrations
										</a>
									  </li>
									  <li>
										<a href="widgets.html#">
										  <i class="fa fa-minus blue"></i>
										  <span class="blue">36</span>
										  New Articles                                    
										</a>
									  </li>
									  <li>
										<a href="widgets.html#">
										  <i class="fa fa-comment yellow"></i>
										  <span class="yellow">45</span>
										  User reviews                                    
										</a>
									  </li>
									  <li>
										<a href="widgets.html#">
										  <i class="fa fa-arrow-up green"></i>                               
										  <span class="green">112</span>
										  New Comments                                    
										</a>
									  </li>
									  <li>
										<a href="widgets.html#">
										  <i class="fa fa-arrow-down red"></i>
										  <span class="red">31</span>
										  New Registrations
										</a>
									  </li>
									  <li>
										<a href="widgets.html#">
										  <i class="fa fa-minus blue"></i>
										  <span class="blue">93</span>
										  New Articles                                    
										</a>
									  </li>
									  <li>
										<a href="widgets.html#">
										  <i class="fa fa-comment yellow"></i>
										  <span class="yellow">254</span>
										  User reviews                                    
										</a>
									  </li>
									</ul>
								</div>
							</div>
						</div><!--/col-->
						
						<div class="col-sm-6">
							<div class="box">
								<div class="box-header">
									<h2><i class="fa fa-user"></i><span class="break"></span>Last Users</h2>
									<div class="box-icon">
										<a href="widgets.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
										<a href="widgets.html#" class="btn-close"><i class="fa fa-times"></i></a>
									</div>
								</div>
								<div class="box-content">
									<ul class="dashboard-list">
										<li>
											<a href="widgets.html#">
												<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
											</a>
											<strong>Name:</strong> <a href="widgets.html#">Łukasz Holeczek</a><br>
											<strong>Since:</strong> Jul 25, 2012 11:09<br>
											<strong>Status:</strong> <span class="label label-success">Approved</span>                                  
										</li>
										<li>
											<a href="widgets.html#">
												<img class="avatar" alt="Bill" src="assets/img/avatar9.jpg">
											</a>
											<strong>Name:</strong> <a href="widgets.html#">Bill Cole</a><br>
											<strong>Since:</strong> Jul 25, 2012 11:09<br>
											<strong>Status:</strong> <span class="label label-warning">Pending</span>                                 
										</li>
										<li>
											<a href="widgets.html#">
												<img class="avatar" alt="Jane" src="assets/img/avatar5.jpg">
											</a>
											<strong>Name:</strong> <a href="widgets.html#">Jane Sanchez</a><br>
											<strong>Since:</strong> Jul 25, 2012 11:09<br>
											<strong>Status:</strong> <span class="label label-important">Banned</span>                                  
										</li>
										<li>
											<a href="widgets.html#">
												<img class="avatar" alt="Kate" src="assets/img/avatar6.jpg">
											</a>
											<strong>Name:</strong> <a href="widgets.html#">Kate Presley</a><br>
											<strong>Since:</strong> Jul 25, 2012 11:09<br>
											<strong>Status:</strong> <span class="label label-info">Updates</span>                                  
										</li>
									</ul>
								</div>
							</div>
						</div><!--/col-->
						
					</div><!--/row-->	
					
				</div><!--/col-->	
				
				<div class="col-md-4 col-sm-12">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-check"></i><span class="break"></span>To Do List</h2>
							<div class="box-icon">
								<a href="widgets.html#" class="btn-setting"><i class="fa fa-wrench"></i></a>
								<a href="widgets.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="widgets.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="box-content">
							<div class="todo">
								<ul class="todo-list">
									<li>
										Windows Phone 8 App <span class="label label-important">today</span>
															<span class="todo-actions">
																<a href="widgets.html#"><i class="fa fa-check"></i></a>
																<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
															</span>
									</li>
									<li>New frontend layout <span class="label label-important">today</span>
														<span class="todo-actions">
															<a href="widgets.html#"><i class="fa fa-check"></i></a>
															<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
														</span>
									</li>
									<li>Hire developers <span class="label label-warning">tommorow</span>
														<span class="todo-actions">
															<a href="widgets.html#"><i class="fa fa-check"></i></a>
															<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
														</span>
									</li>
									<li>Windows Phone 8 App <span class="label label-warning">tommorow</span>
														<span class="todo-actions">
															<a href="widgets.html#"><i class="fa fa-check"></i></a>
															<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
														</span>
									</li>
									<li>New frontend layout <span class="label label-success">this week</span>
														<span class="todo-actions">
															<a href="widgets.html#"><i class="fa fa-check"></i></a>
															<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
														</span>
									</li>
									<li>Hire developers <span class="label label-success">this week</span>
														<span class="todo-actions">
															<a href="widgets.html#"><i class="fa fa-check"></i></a>
															<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
														</span>
									</li>
									<li>New frontend layout <span class="label label-info">this month</span>
														<span class="todo-actions">
															<a href="widgets.html#"><i class="fa fa-check"></i></a>
															<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
														</span>
									</li>
									<li>Hire developers <span class="label label-info">this month</span>
														<span class="todo-actions">
															<a href="widgets.html#"><i class="fa fa-check"></i></a>
															<a href="widgets.html#" class="todo-remove"><i class="fa fa-times"></i></a>
														</span>
									</li>
								</ul>
							</div>	
						</div>
					</div>
				</div><!--/col-->
			
			</div><!--/row-->
			
			<hr>
			
			<div class="row">
				
				<div class="col-sm-6">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-calendar"></i><span class="break"></span>Calendar</h2>
						</div>
						<div class="box-content">
							<div id="main_calendar_phone"></div>
							<div class="clearfix"></div>
						</div>	
					</div>	
				</div><!--/col-->
				
				<div class="col-sm-6">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-list"></i><span class="break"></span>Support tickets</h2>
							<div class="box-icon">
								<a href="widgets.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="widgets.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="box-content">
							<ul class="tickets">
								<li class="ticket">
									<a href="widgets.html#">
										<span class="header">
											<span class="title">Server unavaible</span>
											<span class="number">[ #199278 ]</span>
										</span>	
										<span class="content">
											<span class="avatar"><img src="assets/img/avatar6.jpg" alt="Avatar"></span>
											<span class="name">Ashley Tan</span>
											<span class="priority blue">[ Low priority ]</span>
											<span class="status">Status: <span class="green">[ Complete ]</span></span>
											<span class="date">Jul 25, 2012 11:09</span>
										</span>	                                                        
									</a>
								</li>
							  	<li class="ticket">
									<a href="widgets.html#">
										<span class="header">
											<span class="title">Mobile App Problem</span>
											<span class="number">[ #199277 ]</span>
										</span>	
										<span class="content">
											<span class="avatar"><img src="assets/img/avatar7.jpg" alt="Avatar"></span>
											<span class="name">Ann Kovalsky</span>
											<span class="priority yellow">[ Normal priority ]</span>
											<span class="status">Status: <span class="yellow">[ Pending ]</span></span>
											<span class="date">Jul 25, 2012 11:09</span>
										</span>	                                                        
									</a>
								</li>
								<li class="ticket">
									<a href="widgets.html#">
										<span class="header">
											<span class="title">PayPal issue</span>
											<span class="number">[ #199276 ]</span>
										</span>	
										<span class="content">
											<span class="avatar"><img src="assets/img/avatar8.jpg" alt="Avatar"></span>
											<span class="name">Chris Dan</span>
											<span class="priority red">[ High priority ]</span>
											<span class="status">Status: <span class="blue">[ In progress ]</span></span>
											<span class="date">Jul 25, 2012 11:09</span>
										</span>	                                                        
									</a>
								</li>
								<li class="ticket">
									<a href="widgets.html#">
										<span class="header">
											<span class="title">IE7 problem</span>
											<span class="number">[ #199275 ]</span>
										</span>	
										<span class="content">
											<span class="avatar"><img src="assets/img/avatar9.jpg" alt="Avatar"></span>
											<span class="name">John Grand</span>
											<span class="priority blue">[ Low priority ]</span>
											<span class="status">Status: <span class="red">[ Rejected ]</span></span>
											<span class="date">Jul 25, 2012 11:09</span>
										</span>	                                                        
									</a>
								</li>
								<li class="ticket">
									<a href="widgets.html#">
										<span class="header">
											<span class="title">Server unavaible</span>
											<span class="number">[ #199274 ]</span>
										</span>	
										<span class="content">
											<span class="avatar"><img src="assets/img/avatar2.jpg" alt="Avatar"></span>
											<span class="name">Agnes Young</span>
											<span class="priority blue">[ Low priority ]</span>
											<span class="status">Status: <span class="green">[ Complete ]</span></span>
											<span class="date">Jul 25, 2012 11:09</span>
										</span>	                                                        
									</a>
								</li>
							  	<li class="ticket">
									<a href="widgets.html#">
										<span class="header">
											<span class="title">Mobile App Problem</span>
											<span class="number">[ #199273 ]</span>
										</span>	
										<span class="content">
											<span class="avatar"><img src="assets/img/avatar3.jpg" alt="Avatar"></span>
											<span class="name">Melanie Brown</span>
											<span class="priority yellow">[ Normal priority ]</span>
											<span class="status">Status: <span class="yellow">[ Pending ]</span></span>
											<span class="date">Jul 25, 2012 11:09</span>
										</span>	                                                        
									</a>
								</li>
								<li class="ticket">
									<a href="widgets.html#">
										<span class="header">
											<span class="title">PayPal issue</span>
											<span class="number">[ #199272 ]</span>
										</span>	
										<span class="content">
											<span class="avatar"><img src="assets/img/avatar4.jpg" alt="Avatar"></span>
											<span class="name">Patricia Doyle</span>
											<span class="priority red">[ High priority ]</span>
											<span class="status">Status: <span class="blue">[ In progress ]</span></span>
											<span class="date">Jul 25, 2012 11:09</span>
										</span>	                                                        
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div><!--/col-->
				
			</div><!--/row-->
			
			<hr>
			
			<div class="row">	
				
				<div class="col-sm-12">
					<div class="box">
						<div class="box-header">
							<h2><i class="fa fa-comment"></i><span class="break"></span>Chats</h2>
							<div class="box-icon">
								<a href="widgets.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="widgets.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="box-content">
							<ul class="chat">
								<li class="left">
									<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
									<span class="message"><span class="arrow"></span>
										<span class="from">Łukasz Holeczek</span>
										<span class="time">Jul 25, 2012 11:09</span>
										<span class="text">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
										</span>
									</span>	                                  
								</li>
								<li class="right">
									<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
									<span class="message"><span class="arrow"></span>
										<span class="from">Łukasz Holeczek</span>
										<span class="time">Jul 25, 2012 11:08</span>
										<span class="text">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
										</span>
									</span>                                  
								</li>
								<li class="left">
									<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
									<span class="message"><span class="arrow"></span>
										<span class="from">Łukasz Holeczek</span>
										<span class="time">Jul 25, 2012 11:07</span>
										<span class="text">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
										</span>
									</span>	                                  
								</li>
								<li class="right">
									<img class="avatar" alt="Lucas" src="assets/img/avatar.jpg">
									<span class="message"><span class="arrow"></span>
										<span class="from">Łukasz Holeczek</span>
										<span class="time">Jul 25, 2012 11:06</span>
										<span class="text">
											Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
										</span>
									</span>	                                  
								</li>
							</ul>
							<div class="chat-form">
								<textarea></textarea>
								<button class="btn btn-info">Send message</button>
							</div>	
						</div>
					</div>
				</div><!--/col-->
			
			</div>
				
			
       
					
			</div>
			<!-- end: Content -->